<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<h4>Application Form</h4>
<form action="/job/{{job['id']}}/apply" method="post">
  <div class="mb-2">
    <label for="full_name">Full Name:</label><br>
    <input type="text" required name="full_name" placeholder="Bruce Wayne">
  </div>
  
  <div class="mb-2">
    <label for="email">Email:</label><br>
    <input type="email" required name="email" placeholder="bruce@wayne.com">
  </div>
  
  <div class="mb-2">
    <label for="linkedin">LinkedIn URL:</label><br>
    <input type="url" required name="linkedin_url" placeholder="http://linked.com/in/brucewayne">
  </div>
  <div class="mb-2">
    <label for="education">Education:</label><br>
    <textarea name="education" id="education" cols="50" rows="5" placeholder="Education"></textarea>
  </div>

  <div class="mb-2">
    <label for="work_experience">Work Experience:</label><br>
    <textarea name="work_experience" id="work" cols="50" rows="5" placeholder="Work Experience"></textarea>
  </div>

  <div class="mb-2">
    <label for="resume_url">Resume URL:</label><br>
    <input type="text" name="resume_url" placeholder="Your Resume">
  </div>
  <div class="h-captcha" data-sitekey="744528b2-f422-4388-9dda-b2ae23243fb7"></div>
  <input type="submit" name="submit">
</form>